{% extends 'store/main.html' %}
{% load static  %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	
	<style>
		body {

			
			
			background-image: url("../../../static/images/skincare1.jpg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			
			
			
			
			
		.center {
			text-align: center;
			
			
		}
	}
		
		
	</style>
</head>
<body>

	<title>Ma page web</title>


	<h3 class="center">We are ready for your skin care help</h3>



	
	  


	
	
</body>


</html>
{% endblock content %}
